:root {
    /* Definición de la paleta de colores */
    --color-bg-dark: #121212;
    --color-bg-light: #1c1c1c;
    --color-text-light: #f0f0f0;
    --color-primary: #bb00ff; /* Color magenta principal */
    --color-primary-hover: #9b00e6; /* Color magenta más oscuro al pasar el mouse */
    --color-border: #9b00e6;
}

body {
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
}

.navbar {
    background-color: var(--color-bg-light);
}

.nav-link {
    color: var(--color-text-light) !important;
}

h1, h2, h3 {
    color: var(--color-text-light);
}

.btn-primary {
    background-color: var(--color-primary);
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.text-secondary {
    color: var(--color-primary) !important;
}

.text-magenta {
    color: var(--color-primary) !important;
}

.form-control {
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-primary);
    color: var(--color-text-light);
}

.form-control:focus {
    border-color: var(--color-primary-hover);
    box-shadow: none;
}

.btn-block {
    background-color: var(--color-primary);
    border: none;
}

.btn-block:hover {
    background-color: var(--color-primary-hover);
}

i {
    color: var(--color-primary);
}
