.btn{
    display: flex;
    justify-content: center;
}
/* Color de btn google verde */
.btn_sesion-color{
    background-color: #3fc02e;
    color: white;
}
/* btn inicio sesión con google */
.btn_google_img{
    width: 30px;
    margin: 0 0.5rem 0 0.5rem;
}