img {
    max-height: 500px;
}

.card {
    background-color: coral;
    padding: 20px;
    border: 3px solid black;
}

.contenedor {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 60px;
    gap: 20px;
}
.novedades {
    background-color: rgb(90, 10, 108);
}

.lateral .card {
    display: flex;
}

.destacado .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lateral .card-info {
    padding: 20px;
}

.popular {
    background-color: rgb(165, 24, 197);
}

.popular {
    
    grid-template-columns: 6fr 2fr;
}
.populares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  
}
.populares .card img {
    display: block;
    width: 100%; /* Ajusta la imagen al ancho del contenedor .card */
    height: 200px; /* Fija la altura, pero puede distorsionar la imagen */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el área del contenedor */
}
.categorias {
    padding: 20px;
    background-color: #5d4f4f;
}

.categorias li {
    background-color: #fff; /* Color de fondo para cada item de la lista */
    border: 2px solid #ccc; /* Borde para las cajas */
    padding: 10px 15px; /* Espaciado interno para texto e ícono */
    margin-bottom: 10px; /* Espacio entre cada caja */
    display: flex; /* Alinea íconos y texto */
    align-items: center; /* Centra el contenido verticalmente */
    margin-left: -40px;
}

