img {
    max-height: 500px;
}

.usuario img {
    height: 30px;
    display: inline;
    align-items: baseline;
    justify-content: baseline;
}

.usuario h2{
    font-size: small;
    display: inline;
}


.card {
    /* background-color: coral; */
    padding: 20px;
    border: 3px solid black;
}

.contenedor {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 60px;
    gap: 20px;
}

.lateral .card {
    display: flex;
}

.destacado .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lateral .card-info {
    padding: 10px;
}

.popular {
    
    grid-template-columns: 6fr 2fr;
}
.populares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  
}
.populares .card img {
    display: block;
    width: 100%; /* Ajusta la imagen al ancho del contenedor .card */
    height: 200px; /* Fija la altura, pero puede distorsionar la imagen */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el área del contenedor */
}
.categorias {
    padding: 20px;
    /* background-color: #5d4f4f; */
}

.categorias .box {
    /* background-color: #fff; Color de fondo para cada item de la lista */
    border: 2px solid #2e2d2d; /* Borde para las cajas */
    padding: 10px 15px; /* Espaciado interno para texto e ícono */
    margin-bottom: 10px; /* Espacio entre cada caja */
    display: flex; /* Alinea íconos y texto */
    align-items: center; /* Centra el contenido verticalmente */
    color: #fff;
}
.categorias .box img {
    height: 30px;
}

/* Theme */
.theme-tag-bg {
    background-color: #729E2E;
    color: #fff;
    font-weight: bold;
}

.theme-html {
    background-color: #E93E30;
}

.theme-css {
    background-color: #299ED5;
}

.theme-js {
    background-color: #F7E018;
}

.theme-react {
    background-color: #272221;
}

.theme-vue {
    background-color: #04b444;
}

.theme-bootstrap {
    background-color: #ad18f7a2;
}

.contenedor .populares  .card .card-info .usuario img {
    height: 30px;
    display: inline;
    align-items: baseline;
    justify-content: baseline;
}
.contenedor .populares .card .card-info .usuario h2{
    font-size: small;
    display: inline;
}

.l-footer {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.l-footer img {
    width: 50px;
    position: relative;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.l-footer h4 {
    position: relative;
    float: left;
    margin-top: 15px;
}

.l-footer p {
    position: relative;
    float: right;
    margin-top: 15px;
}