* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.logo {
    width: 200px;
    margin-top: 20px;
}

.banner {
    width: 1200px;
    height: 400px;
}

.text-container {
    position: relative;
    float: left;
    width: 700px;
}

.title {
    width: 700px;
}

.text {
    width: 700px;
}

.img-container{
    position: relative;
    float: right;
    width: 400px;
}

.adl-image{
    width: 100%;
}

.btn {
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color: #749D2D;
    color: #fff;
}
