/* Small posts */

.small-posts {
    width: 500px;
    @include flex-center();
    flex-direction: column;
    row-gap: 20px;
}

.small-post {
    display: flex;
}

.small-post__image {
    width: 180px;
    height: 135px;
    margin-right: 30px;
    border-radius: 10px;
}
