/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: justify;
    margin: 10px auto;
}

h4 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}