

/* Theme */
.theme-tag-bg {
    background-color: #729E2E;
    color: #fff;
    font-weight: bold;
}

.theme-html {
    background-color: #E93E30;
}

.theme-css {
    background-color: #299ED5;
}

.theme-js {
    background-color: #F7E018;
}